<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="Blog.css" />
	<meta name="google-site-verification" content="pRmKNE2_uJx_A_IVFRATRFdLIXupXXPKKPvvrFj9FL8" />
</head>
<body>
<a class="undecorated" href=".">Home</a>
{{ body }}
</body>
</html>
