<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="Blog.css" />
</head>
<body>
<a class="undecorated" href="index.html">Home</a>
{{ body }}
</body>
</html>
